{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    {% include 'dashboard/weight_script.html' %}
    {% include 'dashboard/workout_script.html' %}
    {% include 'dashboard/water_consumption_script.html' %}
{% endblock %}

{% block content %}
    <section id="api-body">
		<div class="containter-fluid d-flex align-items-center main">
			<div class="container">
				<div class="container my-5 d-flex align-items-center justify-content-center">
					<button class="btn dashboard-button" data-toggle="modal" data-target="#daily-update">Daily Update</button>&emsp;&emsp;
					<button class="btn dashboard-button" data-toggle="modal" data-target="#weekly-update">Weekly Update</button>
					{% include 'dashboard/daily_update_modal.html' %}
					{% include 'dashboard/weekly_update_modal.html' %}
				</div>
				<div class="row">
					<div class="col-lg-5 my-5 py-5 mx-auto text-center shadow charts-container">
						<h3 class="mx-auto">Workout</h3>
						<canvas id="workout-chart"></canvas>
					</div>&emsp;
					<div class="col-lg-5 my-5 py-5 mx-auto text-center shadow charts-container">
						<h3 class="mx-auto">Water-Consumption</h3>
						<canvas id="water-consumption-chart"></canvas>
					</div>
					<div class="col-lg-5 my-5 py-5 mx-auto text-center shadow charts-container">
						<h3 class="mx-auto">Weight</h3>
						<canvas id="weight-chart"></canvas>
					</div>
				</div>
			</div>
		</div>
{% endblock %}