{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Dashboard</title>
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
<script
	src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% include 'dashboard/weight_script.html' %}
{% include 'dashboard/workout_script.html' %}
{% include 'dashboard/water_consumption_script.html' %}
{% endblock %}

{% block content %}
<section id="api-body">
	<div class="containter-fluid d-flex align-items-center main">
		<div class="container">
			<div
				class="container my-5 d-flex align-items-center justify-content-center">
				<button class="btn dashboard-button" data-toggle="modal"
					data-target="#daily-update">Daily
					Update</button>&emsp;&emsp;
				<button class="btn dashboard-button" data-toggle="modal"
					data-target="#weekly-update">Weekly Update</button>
				{% include 'dashboard/daily_update_modal.html' %}
				{% include 'dashboard/weekly_update_modal.html' %}
			</div>
			<div class="row my-5 shadow">
				<div
					class="col-lg-5 my-5 py-5 text-center mx-auto charts-container">
					<h3 class="mx-auto text-white">Workout</h3>
					<canvas id="workout-chart"></canvas>
				</div>
				<div
					class="col-lg-5 d-flex justify-content-center mx-auto align-items-center text-white">
					<p>
						<i>Your average workout is: <b>{{ avg_workout }}
								Minutes</b></i><br><br>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Dolores aut et deleniti exercitationem ipsa impedit
						libero dolore eius illo nemo facilis at debitis maxime
						totam, labore ipsum id, sit alias.</p>
				</div>
			</div>
			<div class="row my-5 shadow">
				<div
					class="col-lg-5 order-lg-2 my-5 py-5 mx-auto text-center charts-container">
					<h3 class="mx-auto text-white">Water-Consumption</h3>
					<canvas id="water-consumption-chart"></canvas>
				</div>
				<div
					class="col-lg-5 order-lg-1 d-flex justify-content-center mx-auto align-items-center text-white">
					<p>
						<i>Your average water consumption is: <b>
								{{ avg_water_consumption }}
								Glasses</b></i><br><br>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Dolores aut et deleniti exercitationem ipsa impedit
						libero dolore eius illo nemo facilis at debitis maxime
						totam, labore ipsum id, sit alias.</p>
				</div>
			</div>
			<div class="row my-5 shadow">
				<div
					class="col-lg-5 my-5 py-5 mx-auto text-center charts-container">
					<h3 class="mx-auto text-white">Weight</h3>
					<canvas id="weight-chart"></canvas>
				</div>
				<div
					class="col-lg-5 d-flex justify-content-center mx-auto align-items-center text-white">
					<p>
						<i>Your average weight is: <b>{{ avg_weight }}
								Kgs</b></i><br><br>
						Lorem ipsum dolor sit amet consectetur adipisicing
						elit.
						Dolores aut et deleniti exercitationem ipsa impedit
						libero dolore eius illo nemo facilis at debitis
						maxime
						totam, labore ipsum id, sit alias.</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}