<script>
        document.addEventListener('DOMContentLoaded', () => {

        var ctx = document.getElementById('workout-chart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            
            data: {
                labels: Object.keys({{workout|safe}}),
                datasets: [{
                    data: Object.values({{workout|safe}}),
                    borderWidth: 2,
                    backgroundColor: '#ffffff',
                }]
            },
            
            options: {
                legend: {
                    display: false
                },
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
            }
        });
    });
</script>