{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Register</title>
<link rel="stylesheet" href="{% static 'account/css/profile.css'%}">
<script src="{% static 'account/js/edit_profile.js' %}"></script>
{% endblock %}

{% block content %}
<section id="profile-body">
	<div class="container my-5 py-5">
		<h1 class="mx-auto heading mb-5 text-white">Update your Profile</h1>
		<form action='' method='POST' class="form">
			<div class="row">
				{% csrf_token %}
				{% for field in form %}
				{% if field.label == "Menstrual Cycle(No.of days)" %}
				{% if request.user.gender == "1" or request.user.gender == "3" %}
				{% else %}
				<div class="col-md-6 text-white">
					&emsp13;{{ field.label }}:
					{{ field }}
				</div>
				{% endif %}
				{% else %}
				{% if field.label == "Reason for ongoing medicines" %}
				<div class="col-md-12 text-white">
					{% else %}
					<div class="col-md-6 text-white">
						{% endif %}
						&emsp13;{{ field.label }}:
						{{ field }}
					</div>
					{% endif %}
					{% endfor %}
					<button type="submit"
						class="btn mx-auto mt-4 profile-button">Update</button>
				</div>
		</form>
	</div>
</section>
{% endblock %}