{% extends 'base.html'%}
{% load static %}

{% block head %}
<title>Register</title>
<link rel="stylesheet" href="{% static 'account/css/auth.css'%}">
<script src="{% static 'account/js/auth.js'%}"></script>
{% endblock %}

{% block content %}
<section id="auth-body" class="main">
    <div class="container my-5 mx-auto auth-box">
        <div class="row">
            <div
                class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="{% static 'images/login.svg' %}" class="auth-image">
            </div>
            <div class="col-md-6">
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="container auth-box-heading">
                        Register
                    </div>
                    <div class="row">
                        {% for field in form %}
                        <div
                            class="d-flex justify-content-center align-items-center px-3 m-3 col-xl-5 col-md-12 col-sm-5 fields">
                            {{field}}
                            {% if field.label == "Password" %}
                            <span class="eye-toggler">
                                <i class="fas fa-eye text-white"></i>
                            </span>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit"
                        class="btn mt-4 auth-button">Register</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}