.navigation-box {
    background-color: #ffffff10;
    border-radius: 15px;
}

.navigation-circles {
    height: 40px;
    width: 40px;
    color: #ffffff;
    border-radius: 20px;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.box-heading {
    color: #84160f;
    width: 100%;
    font-size: larger;
    font-weight: 700;
    border-radius: 15px;
    padding: 10px;
}

.question-box {
    background-color: #ffffff10;
    border-radius: 15px;
}

.question-text {
    width: 90%;
    font-size: larger;
    color: white;
}

.question-image {
    width: 95%;
}

@media screen and (min-width: 750px) {
    .question-image {
        width: 50%;
    }
}

.question-hr {
    height: 2px;
    border: none;
    background-color: #ffffff20;
}

.textarea-fields, .textarea-fields:focus {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    /* padding: 16px; */
    /* border-radius: 20px; */
}

.submit-button {
	background-color: #ec3a2d;
    border: 2px solid #9b1616;
    color: #ffffff;
	border-radius: 20px;
}

.submit-button:hover {
    background-color: whitesmoke;
    color: #84160f;
}
