{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>FAQ Page</title>
<link rel="stylesheet" href="{% static 'home/css/faq.css'%}">
<script src="{% static 'home/js/faq.js' %}"></script>
{% endblock %}

{% block content %}
<section id="faq-body">
	<div class="container-fluid d-flex align-items-center main mb-5">
		<div class="row">
			<div
				class="col-xl-3 d-flex justify-content-center align-items-center">
				<div class="container-fluid m-0 p-0">
					<div class="row mt-5 p-0">
						<div
							class="col-xl-12 col-sm-6 col-12 order-xl-2 order-sm-1 order-2">
								<div class="container d-flex justify-content-center align-items-center image-box">
									<img src="{% static 'images/faq.svg' %}">
								</div>
						</div>
						<div
							class="col-xl-12 col-sm-6 col-12 order-xl-1 order-sm-2 order-1 mx-0 mb-3
							d-flex justify-content-center align-items-center">
							<div class="container-fluid m-0 p-0 text-justify">
								<h1 class="mx-auto font-weight-bold heading">FAQs</h1>
								
								With the abundance of craze diets and new age
								exercising practices before us
								we frequently get confused. So, here are the answers
								to the most common questions.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="col-xl-9 d-flex justify-content-center align-items-center">
				<div class="container-fluid mx-0 mt-5 p-0 faq-box shadow">
					<div class="accordion" id="accordionExample">
						<!-- <div class="card">
							<div class="card-header" id="headingOne">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button" type="button"
										data-toggle="collapse"
										data-target="#collapseOne"
										aria-expanded="true"
										aria-controls="collapseOne">
										1. What is the difference between being
										overweight and being obese?
									</button>
								</h2>
							</div>

							<div id="collapseOne" class="collapse show"
								aria-labelledby="headingOne"
								data-parent="#accordionExample">
								<div class="card-body">
									Determining whether someone is overweight or
									obese is often determined
									by assessing a person&#39;s body mass index
									(BMI), which is a ratio
									between weight and height. If your BMI falls
									between 25 and 29.9, you
									are overweight. If your BMI is 30 or higher,
									you are considered obese.
								</div>
							</div>
						</div> -->
						<div class="card">
							<div class="card-header" id="headingOne">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseOne"
										aria-expanded="false"
										aria-controls="collapseOne">
										1. What is the difference between being
										overweight and being obese?
									</button>
								</h2>
							</div>
							<div id="collapseOne" class="collapse"
								aria-labelledby="headingOne"
								data-parent="#accordionExample">
								<div class="card-body">
									Determining whether someone is overweight or
									obese is often determined
									by assessing a person&#39;s body mass index
									(BMI), which is a ratio
									between weight and height. If your BMI falls
									between 25 and 29.9, you
									are overweight. If your BMI is 30 or higher,
									you are considered obese.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseTwo"
										aria-expanded="false"
										aria-controls="collapseTwo">
										2. What is the main cause of obesity?
									</button>
								</h2>
							</div>
							<div id="collapseTwo" class="collapse"
								aria-labelledby="headingTwo"
								data-parent="#accordionExample">
								<div class="card-body">
									Though genetics and cultural and
									environmental factors can lead to
									obesity, the main cause is eating too much
									and/or not getting enough
									exercise.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseThree"
										aria-expanded="false"
										aria-controls="collapseThree">
										3. What are the health risks of obesity?
									</button>
								</h2>
							</div>
							<div id="collapseThree" class="collapse"
								aria-labelledby="headingThree"
								data-parent="#accordionExample">
								<div class="card-body">
									Being obese puts you at risk for several
									diseases and conditions,
									including heart disease, type 2 diabetes,
									high blood pressure, stroke,
									gall bladder disease, breathing problems,
									certain types of cancer,
									chronic back pain and osteoarthritis.
									Obesity may also take a toll on
									self-esteem and contribute to depression.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFour">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseFour"
										aria-expanded="false"
										aria-controls="collapseFour">
										4. What is the best way to lose weight?
									</button>
								</h2>
							</div>
							<div id="collapseFour" class="collapse"
								aria-labelledby="headingFour"
								data-parent="#accordionExample">
								<div class="card-body">
									When it comes to healthy weight loss, slow
									and steady wins the race.
									Aim for losing 1 to 2
									pounds per week by increasing physical
									activity, making healthy diet
									changes, and getting
									support from your doctor or a weight loss
									program. To stick to a
									weight loss plan, choose
									moderate weight loss goals and adapt your
									diet and fitness routine in
									ways that are
									sustainable and not too restrictive.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFive">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseFive"
										aria-expanded="false"
										aria-controls="collapseFive">
										5. Does obesity run in families?
									</button>
								</h2>
							</div>
							<div id="collapseFive" class="collapse"
								aria-labelledby="headingFive"
								data-parent="#accordionExample">
								<div class="card-body">
									Your family history can increase your risk
									of obesity because the
									disease does run in
									families, according to the American Academy
									of Family
									Physicians (AAFP).
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingSix">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseSix"
										aria-expanded="false"
										aria-controls="collapseSix">
										6. How does sugar affect your health?
									</button>
								</h2>
							</div>
							<div id="collapseSix" class="collapse"
								aria-labelledby="headingSix"
								data-parent="#accordionExample">
								<div class="card-body">
									Though sugar itself isn’t bad for people,
									consuming too much has
									become a norm that can
									cause health issues. Studies have found that
									excess sugar in food can
									cause obesity and
									cardiovascular problems, according to the
									National Institute of
									Health.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingSeven">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseSeven"
										aria-expanded="false"
										aria-controls="collapseSeven">
										7. What Is Obesity?
									</button>
								</h2>
							</div>
							<div id="collapseSeven" class="collapse"
								aria-labelledby="headingSeven"
								data-parent="#accordionExample">
								<div class="card-body">
									Obesity is a condition in which the body
									stores excess energy in the
									form of fat. You are
									considered obese if you weigh 20% or more
									over your ideal body weight
									or have a body
									mass index (BMI) of 30 or more.
									<br>
									Obesity is also categorized by severity:
									<br>
									<ul>
										<li> Class 1: BMI of 30 to &lt;35 </li>
										<li> Class 2: BMI of 35 to &lt;40 </li>
										<li> Class 3: BMI of 40 or higher </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingEight">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseEight"
										aria-expanded="false"
										aria-controls="collapseEight">
										8. What are the most common treatment
										options for obesity?
									</button>
								</h2>
							</div>
							<div id="collapseEight" class="collapse"
								aria-labelledby="headingEight"
								data-parent="#accordionExample">
								<div class="card-body">
									Obesity treatments include a combination of
									diet and nutritional
									modification with
									counselling support, lifestyle changes and a
									consistent exercise
									program. Medications may
									also be prescribed.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingNine">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseNine"
										aria-expanded="false"
										aria-controls="collapseNine">
										9. What are some of the factors that
										contribute to overweight and
										obesity?
									</button>
								</h2>
							</div>
							<div id="collapseNine" class="collapse"
								aria-labelledby="headingNine"
								data-parent="#accordionExample">
								<div class="card-body">
									Researchers have found that several factors
									can contribute to the
									likelihood of someone&#39;s
									becoming overweight or obese.
									<br>
									<br>
									<ul>
										<li><em>Behaviours</em>. What people eat
											and their level of physical
											activity help determine
											whether they will gain weight.
											Several factors can influence diet
											and physical
											activity, including personal
											characteristics of the individual,
											the individual&#39;s
											environment, cultural attitudes, and
											financial situation.</li>
										<li><em>Genetics</em>. Heredity plays a
											large role in determining
											how susceptible people are to
											becoming overweight or obese. Genes
											can influence how the body
											burns calories for
											energy and how the body stores fat.
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTen">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseTen"
										aria-expanded="false"
										aria-controls="collapseTen">
										10. How does being overweight or obese
										affect a person&#39;s health?
									</button>
								</h2>
							</div>
							<div id="collapseTen" class="collapse"
								aria-labelledby="headingTen"
								data-parent="#accordionExample">
								<div class="card-body">
									When people are or overweight or obese, they
									are more likely to
									develop health problems
									such as the following:
									<br><br>
									<ul>
										<li> Hypertension </li>
										<li> Dyslipidemia (for example, high
											total cholesterol or high
											levels of triglycerides)</li>
										<li> Type 2 diabetes</li>
										<li> Coronary heart disease</li>
										<li> Stroke</li>
										<li> Gallbladder disease </li>
										<li> Osteoarthritis </li>
										<li> Sleep apnoea and respiratory
											problems </li>
										<li> Some cancers (endometrial, breast,
											and colon) </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingEleven">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseEleven"
										aria-expanded="false"
										aria-controls="collapseEleven">
										11. What are some suggestions for losing
										weight?
									</button>
								</h2>
							</div>
							<div id="collapseEleven" class="collapse"
								aria-labelledby="headingEleven"
								data-parent="#accordionExample">
								<div class="card-body">
									Most experts recommend that someone
									attempting to lose a large amount
									of weight
									consult with a personal physician or health
									care professional before
									beginning a weight-loss
									program. Doctor’s general healthy weight
									advice for clients makes the
									following general
									recommendations:
									<br> <br>
									<ul>
										<li>Aim for a healthy weight. People who
											need to lose weight should
											do so gradually, at
											a rate of one-half to one kg per
											week.</li>
										<li>Be active. The safest and most
											effective way to lose weight is
											to reduce calories and
											increase physical activity.</li>
									</ul>

								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwelve">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseTwelve"
										aria-expanded="false"
										aria-controls="collapseTwelve">
										12. How can childhood obesity be
										prevented?
									</button>
								</h2>
							</div>
							<div id="collapseTwelve" class="collapse"
								aria-labelledby="headingTwelve"
								data-parent="#accordionExample">
								<div class="card-body">
									Supportive policies, environments, schools
									and communities are
									fundamental in shaping
									parents’ and children’s choices, making the
									healthier choice of foods
									and regular physical
									activity the easiest choice (accessible,
									available and affordable) and
									thereby preventing
									obesity.
									<br> <br>
									Adolescents should:
									<ul>
										<li>limit energy intake from total fats
											and sugars</li>
										<li>increase consumption of fruit and
											vegetables, as well as
											legumes, whole grains and
											nuts</li>
										<li>engage in regular physical activity
											(60 minutes a day).</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingThirteen">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseThirteen"
										aria-expanded="false"
										aria-controls="collapseThirteen">
										13. Do obese people always eat more?
									</button>
								</h2>
							</div>
							<div id="collapseThirteen" class="collapse"
								aria-labelledby="headingThirteen"
								data-parent="#accordionExample">
								<div class="card-body">
									Yes. It is like a bank balance. The more you
									put in and the less you
									draw, balance swells.
									Similarly, the more energy you consume and
									the less you burn, excess
									energy is stored as
									fat.
									<br> <br>
									<ul>
										<li>2 cups of extra tea every day will
											increase the weight by ½ kg
											per year.</li>
										<li>3-4 glasses of extra juice every day
											will increase body weight
											by 2-3kg/year.</li>

									</ul>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingFourteen">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseFourteen"
										aria-expanded="false"
										aria-controls="collapseFourteen">
										14. Does cardio workout give the best
										results?
									</button>
								</h2>
							</div>
							<div id="collapseFourteen" class="collapse"
								aria-labelledby="headingFourteen"
								data-parent="#accordionExample">
								<div class="card-body">
									Cardio is one of the most effective methods
									to lose weight. But the
									thing to keep in mind is
									that cardio should never be done on an empty
									stomach. While it was
									proven earlier that the
									weight gain is minimal when practised on an
									empty stomach, it is most
									effective when the
									body has the energy to fuel it.
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingFifteen">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseFifteen"
										aria-expanded="false"
										aria-controls="collapseFifteen">
										15. Does going on a diet work?
									</button>
								</h2>
							</div>
							<div id="collapseFifteen" class="collapse"
								aria-labelledby="headingFifteen"
								data-parent="#accordionExample">
								<div class="card-body">
									The benefits of dieting have been debated
									for years but there is no
									one study to prove if it
									works or not. The best track to follow, if
									you are in it to lose kilos
									is to practice a
									combination of diet and high resistance
									training. This way, you lose
									the extra fat but retain
									the muscle.

								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingSixteen">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseSixteen"
										aria-expanded="false"
										aria-controls="collapseSixteen">
										16. How to lose kilos when you have
										limited time?
									</button>
								</h2>
							</div>
							<div id="collapseSixteen" class="collapse"
								aria-labelledby="headingSixteen"
								data-parent="#accordionExample">
								<div class="card-body">
									Weight loss cannot happen overnight. But, if
									you are facing a time
									crunch and aiming to lose
									the weight soon, the best moves to practice
									would be some high
									interval training (HIIT) and
									moderately brisk exercises like jogging
									which are proven to alter body
									composition in lesser
									time.
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingSeventeen">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseSeventeen"
										aria-expanded="false"
										aria-controls="collapseSeventeen">
										17. Does drinking water helps lose
										weight?
									</button>
								</h2>
							</div>
							<div id="collapseSeventeen" class="collapse"
								aria-labelledby="headingSeventeen"
								data-parent="#accordionExample">
								<div class="card-body">
									It has always been told that drinking water
									can fill up your appetite
									and stop you from
									eating junk. It has also been proven to lose
									weight. As per one
									research, people who drank
									up to 2 glasses of water before their
									workout lost 4.5 kilos more
									(approx.) but depends on
									individual to individual.
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingEighteen">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseEighteen"
										aria-expanded="false"
										aria-controls="collapseEighteen">
										18. How long does it take before you
										start to put on weight again?
									</button>
								</h2>
							</div>
							<div id="collapseEighteen" class="collapse"
								aria-labelledby="headingEighteen"
								data-parent="#accordionExample">
								<div class="card-body">
									It is easy to lose weight if you have a
									regular workout routine, but
									the only real danger is
									when you stop following it. Our body has a
									unique way of accepting the
									new weight, sensing
									what is called as the ‘kilojoule deficit’.
									If you can maintain the
									healthy routine for close to a
									year, the body gets used to the new normal
									and alters the appetite,
									accordingly, making it
									easier to stay in the desired shape.
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingNineteen">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseNineteen"
										aria-expanded="false"
										aria-controls="collapseNineteen">
										19. Is avoiding carbohydrates at night
										helpful?
									</button>
								</h2>
							</div>
							<div id="collapseNineteen" class="collapse"
								aria-labelledby="headingNineteen"
								data-parent="#accordionExample">
								<div class="card-body">
									The golden rule for weight loss suggests
									staying away from carbs but
									not all carbs are bad. A
									recent obesity study found out that people
									who changed their carbs and
									avoided eating it
									after 7pm lost more weight than the ones who
									did not. Eating certain
									carbs like jasmine rice
									can help you stay fuller for longer and
									maintain the appetite.

								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingTwenty">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseTwenty"
										aria-expanded="false"
										aria-controls="collapseTwenty">
										20. Does the 5:2 rule work?
									</button>
								</h2>
							</div>
							<div id="collapseTwenty" class="collapse"
								aria-labelledby="headingTwenty"
								data-parent="#accordionExample">
								<div class="card-body">
									5:2 rule follows the idea that you eat
									normally for 5 days while
									restricting your diet to 2400
									kilojoules on the rest of the days. This
									diet, without compromising on
									your regular food
									habits works just as well as the other diets
									as you can burn the same
									number of calories like
									any other plan.
								</div>
							</div>
						</div>


						<div class="card">
							<div class="card-header" id="headingTwentyOne">
								<h2 class="mb-0">
									<button class="btn btn-link accordion-button collapsed"
										type="button" data-toggle="collapse"
										data-target="#collapseTwentyOne"
										aria-expanded="false"
										aria-controls="collapseTwentyOne">
										21. Losing sleep gains weight?
									</button>
								</h2>
							</div>
							<div id="collapseTwentyOne" class="collapse"
								aria-labelledby="headingTwentyOne"
								data-parent="#accordionExample">
								<div class="card-body">
									Yes, this happens very frequently. When you
									lose sleep for consecutive
									days, you also lose
									the energy required to carry out daily tasks
									and to make up for that,
									you eat more than you
									should on a regular day and this leads to a
									disturbing weight pattern.
									So, getting a good
									night’s sleep is essential for losing
									weight.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}