{% extends 'base.html' %} 
{% load static %} 

{% block head %}
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'home/css/home.css'%}"> 
{% endblock %} 

{% block content %}
    <section id="home-body">
        <div class="container-fluid d-flex align-items-center main">
            <div class="row m-0 px-0 py-5 banner">
                <div class="col-md-7 order-1 order-md-2 mx-0 mb-5 p-0 d-flex justify-content-center align-items-center">
                    <div class="container d-flex justify-content-center align-items-center image-box">
                        <img src="{% static 'images/banner_img.svg'%}" width="100%">
                    </div>
                </div>
                <div class="col-md-5 order-2 order-md-1 d-flex justify-content-center align-items-center mx-0 mb-5 px-2 px-sm-5 pr-md-0 home-heading">
                    <div class="container">
                        <p class="home-heading-1 mb-5">Shedfast by being Steadfast</p>
                        <p class="mt-5 text-secondary home-subtitle">
                            This website is for Ahdmedabad University students for maintaining weight, wellness and
                             keeping its track!
                            
                        </p>
                	</div>
            	</div>
       		</div>
		</div>
	</section>
{% endblock %} 