{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>ERROR</title>
<link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}

{% block content %}
<section id="error-body">
	<div
		class="contaier-fluid d-flex align-items-center justify-content-center main">
		<div class="container text-center text white">
			<div class="image-box">
				<img src="{% static 'images/error.svg' %}" width="350px">
			</div>
			<br><br>
			{% if error_message %}
			{{ error_message }}
			{% else %}
			There was some error while loading the page.
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}