.charts-container {
  background-color: #84160f;
}

.dashboard-button {
  height: 40px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #84160f;
  width: 200px;
}

.dashboard-button:hover {
  background-color: transparent;
  color: #ffffff;
  transition-duration: 1s;
}

.row {
  background-color: #ffffff10;
  border-radius: 32px;
}
