/* Remove arrow form integer field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.heading {
  text-align: center;
}

.fields,
.form-control {
  border: 2px solid #84160f;
  background-color: #ffffff10;
  border-bottom: 2px solid #df271a;
  color: #ffffff;
  margin-bottom: 24px;
}

.form-control:focus {
  color: #ffffff;
  background-color: #ffffff10;
  border: none;
  border-bottom: 2px solid #ffffff;
  box-shadow: none;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffffc6;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffffc6;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffffc6;
}

.form-control option,
.form-control option:focus {
  color: #1d1d1d;
}

select[multiple=""] option,
select[multiple=""] option:focus {
  color: white;
}

.profile-button {
  height: 40px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #84160f;
  width: 90%;
}

.profile-button:hover {
  background-color: transparent;
  color: #ffffff;
  transition-duration: 1s;
}
