* {
  max-width: 100vw;
}

.heading {
  text-align: center;
  color: #ffffff;
}

.sub-heading {
  color: #ffffff70;
  hyphens: auto;
  max-width: 100%;
}

.image-box {
  width: 70%;
}

.faq-box {
  height: 85vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #00000057 transparent;
}

.faq-box::-webkit-scrollbar {
  width: 5px;
}

.faq-box::-webkit-scrollbar-track {
  background: transparent;
}

.faq-box::-webkit-scrollbar-thumb {
  background-color: #00000057;
  border-radius: 20px; 
}

.accordion-button,
.card-header {
  width: 100%;
  background-color: #84160f;
  border: none;
  text-align: left;
}

.accordion-button:hover,
.card-header:hover {
  background-color: #65130e;
  color: #ffffff;
}

.accordion-button {
  background-color: transparent;
  color: #ffffff;
}

.accordion-button:focus {
  box-shadow: none;
}

.card {
  border-left: none;
  border-right: none;
  border-top: 2px solid #ffffff10;
}

.card-body {
  color: #84160f;
}
.accordion-button:after {
  content: '\002B';
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"
}
