/* 1573FF */

body {
    background-color: #fff740;
	background-image: none;
}

.home-heading {
    text-align: left;
}

.home-heading-1 {
    color: #1573FF;
    font-size: 72px;
    line-height: 78px;
    font-weight: 700;
}
 
.home-subtitle{
    font-size: 16px;
    font-style: italic;
}

@media screen and ( max-width: 1000px) {
    .home-heading h1 {
        font-size: 36px;
        font-weight: 600;
    }
}

@media screen and ( max-width: 767px) {
    .home-heading h1 {
        text-align: center;
    }
}

.home-wave {
    width: 100vw;
    position: relative;
    bottom: -1;
}

.image-box {
    width: 90%;
}