/* 1573FF */

body {
  background-color: #84160f;
  background-image: none;
}

.home-heading {
  text-align: left;
}

.home-heading-1 {
  color: #ffffff;
  font-size: 66px;
  line-height: 72px;
  font-weight: 700;
}

.home-subtitle {
  font-size: 16px;
  font-style: italic;
  color: #ffffff50;
}

.underline {
  border: 2px solid #ffffff;
  width: 80%;
}

@media screen and (max-width: 1000px) {
  .home-heading h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
  }
}

@media screen and (max-width: 767px) {
  .home-heading h1 {
    text-align: center;
  }
}

.home-wave {
  width: 100vw;
  position: relative;
  bottom: -1;
}

.image-box {
  width: 100%;
}